.row {
  margin: auto;
  width: 100%;
  

}

.paraLeft, .paraRight {
float: left;
width: 50%;
text-align: justify;
// margin: 50px;
// margin: 3*$margin;
 padding: 5*$padding;
//background: white;

}



.text{
  // margin: 10px;
}

.list{
  // @extend .text;
  margin-left: 60px;
  padding: 10px;
  //background: white;
  width: 43%;
}
.parapara{
	// padding: 0px 50px;
}